mixin createGraph(optionList)
    details График
        .block-011
            summary 
            .columnFlex
                p <b>Значение по оси ОХ:</b>
                .rowFlex
                    p=optionList[0]
                        input(type="radio", name='ox')
                .rowFlex
                    p=optionList[1]
                        input(type="radio", name='ox', checked)
            .columnFlex
                p  <b>Результат:</b>
                .rowFlex
                    p=optionList[3]
                        input(type="radio", name='result')
                .rowFlex
                    p=optionList[4]
                        input(type="radio", name='result', checked)



