@media (max-width:600px)
  .centralBlock
    width 100%
    //padding indentValue
    //margin @padding
    background-color #E3E3E3
    display flex
    flex-direction column
    align-items center
    .heading
      text-align center
    .menuFlex
      display flex
      flex-direction column
      flex-wrap wrap
      width 100%
    
    .content
      width 100%
      display flex
      flex-direction column
      margin auto
      padding padding
  .rowFlex
    flex-direction column
    align-items center
    margin auto
    justify-content center
  .columnFlex
    p
      text-align center
  .columnFlex
    .textBlock
      p
        text-align justify

  .rowFlex
    .columnFlex
      p
        padding paddingValueWidth
  .post
    width 100%
    .imagesFlexItem
      padding padding

  .imagesFlexItem
    padding 0px
  
@import textBlockMedia
@import rowOfImagesMedia
@import tableBlockMedia





