@media (max-width:600px)
  .imagesFlex
      display flex
      flex-direction column
      justify-content center
      align-items center
      flex-wrap nowrap
      //padding paddingValueWidth
      &Item
        width 100%
        //padding paddingValueHeight
        overflow hidden