paddingValueWidth = 1vw
paddingValueHeight = 1vh

img
  width 100%
  height 100%
  border-radius 15px

.content
  .imagesFlexItem
    width 100%


.imagesFlex
  display flex
  flex-direction row
  justify-content center
  flex-wrap nowrap
  //align-content stretch
  padding paddingValueWidth
  &Item
    padding padding 
    width 33.33%
    overflow hidden