.tableBlock
  margin padding
  padding @margin
  overflow auto

table
  border-collapse collapse
  width 100%
  text-align center
  background-color menuBarColor

table, td, th
  border 1px solid textColor