@media(max-width:600px)
  .textBlock
    padding padding/2
    margin @padding
    .imageBlock
      margin padding
      float none
      margin auto
      width 50%
      p
        line-height 2
        margin padding
        text-align justify
        word-spacing 1px
