extends template
block variables
	-	var title = 'Главная страница'
block content

	include mixins/imageBlock
	+createImageBlock("img/3.jpg")(width='100%')

	.rowFlex
		.post
			+createImageBlock("img/6.jpg")(width='50%')
			p Япония — это островное государство, расположенное на архипелаге в Тихом океане. Общую территорию страны (377,915 км²) образуют водное пространство - 3091км² и суша 374744 км².
		.post
			+createImageBlock("img/2.jpg")(width='50%')
			p Столица Японии — <a href="Токио.html">Токио</a>, её административный, финансовый, промышленный и культурный центр. Население - 37 435 191 человек. Это самый большой город по населению в мире.
		.post
			+createImageBlock("img/4.jpg")(width='50%')
			p Денежная единица Японии - йена (яп. "эн") - одна из основных резервных валют мира после доллара США и евро. Международный код: JPY. Латинский символ - ¥.
		.post
			+createImageBlock("img/1.jpg")(width='50%')
			p Население Японии составляет 127,433,404 человек (2007 г.). Япония является мононациональной страной - около 98% ее населения составляют японцы, а также мировым лидером по продолжительности жизни граждан: женщины в среднем живут 84 года, а мужчины - 77 лет.

	div.zoop
	p.gal-01 Галерея
	div#gallery
	div.zoop

block head
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.10.0/css/lightgallery.min.css"/>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.10.0/js/lightgallery-all.min.js"></script>


block footer
	script(src='js/js-2 - galerey.js')
