extends template
block variables
    -   var title = 'Список самых больших городов'
    -   const graphOptionList = ["Население","Площадь","Год основания","Максимальное население","Максимальная пощадь", "Количество построенных городов по году основания"]
block content
    body(onload='createStatsElements()')
        form
            .options
                details
                    summary Сортировка
                    div(id="sortDiv")
                    input(type="button" value="Сортировка" onclick="buttonSorting()")
                details
                    summary Фильтрация
                    div(id="filterDiv")
                    input(type="button" value="Фильтр" onclick="buttonFiltering()")
                include mixins/Graph
                +createGraph(graphOptionList)
                input(type="button" value="Сбросить все" onclick="buttonReset()")
        tableBlock(id = 'table')

    script(src = 'js/sortingAndFiltering.js')













