extends template
block variables
	-	var title = 'Токио'
	-	const imgSrc = ["img/tokio1.jpg"]
block content
	.largePost
		.textBlock
			p Токио, столица Японии, — настоящий город контрастов, где гармонично сосуществуют, взаимно проникая друг в друга, европейская и восточная культуры, древность — с современностью, а каменные джунгли — с традиционными храмами.
			.imageBlock
				img(src=imgSrc[0])
			p Огромный и многоликий Токио находится в юго-восточной части острова Хонсю, в регионе Канто, он раскинулся в бухте на побережье Токийского залива в Тихом океане и протянулся на 90 километров, что с учётом яркого уличного освещения по ночам делает его хорошо заметным не только с воздуха, но и из космоса. Мегаполис является крупнейшим экономическим, политическим, финансовым, образовательным и культурным центром современной Страны восходящего солнца. Кроме того, Токио — самый крупный город в Японии и один из самых густонаселённых в мире. Этот город достаточно молод — ему всего-то чуть более пяти сотен лет. За свою относительно недолгую историю он успел сменить имя, пережить разрушительные землетрясения, пожары и даже войну. Некогда бывший скромной рыбацкой деревушкой под названием Эдо, расположенной рядом с одноимённым феодальным замком, Токио стал столицей страны в XVII веке. С тех пор город активно рос и развивался, получив своё нынешнее имя: Токио в переводе с японского означает «Восточная столица». Сегодняшний Токио предлагает туристам огромное разнообразие видов отдыха. Любители культурно-познавательного туризма найдут здесь уникальные достопримечательности — дворцы, памятники, храмы, сады. В городе имеется несколько сотен картинных галерей и несколько десятков государственных и частных музеев. Только в Токийском национальном музее содержится 85 000 произведений искусства, живописи, скульптуры.